<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutChangesToGlobalState="true"
        beStrictAboutOutputDuringTests="true"
        beStrictAboutResourceUsageDuringSmallTests="true"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutTodoAnnotatedTests="false"
        beStrictAboutCoversAnnotation="true"
        cacheResult="false"
        colors="true"
        columns="max"
        convertDeprecationsToExceptions="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        enforceTimeLimit="false"
        defaultTimeLimit="0"
        failOnIncomplete="false"
        failOnRisky="false"
        failOnSkipped="false"
        failOnWarning="false"
        forceCoversAnnotation="true"
        noInteraction="false"
        processIsolation="false"
        registerMockObjectsFromTestArgumentsRecursively="false"
        resolveDependencies="true"
        reverseDefectList="false"
        stderr="false"
        stopOnError="false"
        stopOnFailure="true"
        stopOnIncomplete="false"
        stopOnRisky="false"
        stopOnSkipped="false"
        stopOnWarning="false"
        stopOnDefect="false"
        testdox="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false"
        bootstrap="vendor/autoload.php">
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Pbraiders Stdlib Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory>docs</directory>
            <directory>tests</directory>
            <directory>var</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>

</phpunit>
