includes:
    - ../../vendor/phpstan/phpstan-strict-rules/rules.neon
    - ../../vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - ../../vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    tmpDir: ../../var/cache/phpstan
    level: 0
    paths:
        - ../../src
        - ../../tests
    excludePaths:
        - ../../vendor